@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Courgette&family=Lato:wght@300&family=Open+Sans:wght@400;600;700&family=Oswald&family=Poppins:wght@700&family=Raleway:ital,wght@0,300;0,600;1,300;1,600&display=swap');


*{  margin: 0 auto;
    padding: 0 auto;
color: white;
}
    body{
    font-family:'Oswald', sans-serif;
    background-image: linear-gradient(to bottom,#520156f5 ,#96f0db) ;
    background-repeat: no-repeat;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    }
    
.container{ background-color:transparent;
        /* margin: 0 auto; */
            opacity:.5;
            text-align: center; 
            width: 100%;
            margin: 0 auto;
            height: 550px;
            display: flex;
            flex-direction: column;
            justify-content: center; 
    }
.titulo{
            font-size: 40px;
            width: 100%;
          
            margin-bottom: 30px;
    }

.form{width: 450px;}
.item{
    height: 40px;
    text-align: start;}
    
.input{width: 40px;
    background-color: transparent;
    width: 350px;
    border: none;
    padding-left: 6px;
    font-size: 16px;}

.input:focus {outline: none;}
     
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.register{
    margin-top: 20px;
    width: 200px;
    border-radius: 30px;
    padding: 10px;
    border: 2px solid white;
    background-color: transparent;
}
.footerp{
    margin-top: 30px;
    margin-left: 100px;
    opacity:.6;
}



@media (max-width: 768px) {
    .titulo {
      font-size: 30px;
      margin-bottom: 20px; 
    }
  
    .form {
      width: 100%; 
    }
    /* hr{ display: none;} */
    
    }
    .item {
        padding: 10px;
      width: 100%; 
    }
  
    .register {
      width: 100%; 
      font-size: 16px;
    }
  